.dis-toolbar-btn {
    background: rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    font-size: 22px;
    color: #fff;
    padding: 3px;
}
.dis-toolbar-btn:hover {
    cursor: pointer;
}
.dis-toolbar {
    position: absolute;
    z-index: 800;
}
.dis-toolbar.tr {
    top: 20px;
    right: 20px;
}
.dis-toolbar.tl {
    top: 20px;
    left: 20px;
}
.dis-toolbar.br {
    bottom: 20px;
    right: 20px;
}
.dis-toolbar.bl {
    bottom: 20px;
    left: 20px;
}
.dis-toolbar.bc {
    bottom: 20px;
}
.dis-toolbar.bc,
.dis-toolbar.tc {
    left: 50%;
    transform: translateX(-50%);
}
.dis-toolbar.tc {
    top: 20px;
}
.dis-toolbar-btn {
    margin: 0 1px;
}
.dis-toolbar-btn.selected {
    background: #87ceeb;
}
.dis-toolbar-btn .anticon svg {
    pointer-events: none;
}
.dis-leaflet-zoom-ctrl {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 800;
    bottom: 20px;
    right: 20px;
}
.dis-leaflet-zoom-ctrl-level {
    width: 5px;
    height: 1px;
    background: #fff;
    margin: 5px;
}
.dis-leaflet-zoom-ctrl-level:hover {
    cursor: pointer;
}
.dis-leaflet-zoom-ctrl-level.current {
    width: 10px;
    border: 2px solid #fff;
    height: 6px;
    background: grey;
}
.dis-leaflet-color-editor-container {
    width: max-content;
    position: relative;
}
.dis-leaflet-color-editor-sketch-picker-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-110%);
    color: initial;
}
.dis-leaflet-color-editor-custom-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}
.dis-leaflet-color-editor-opacity-bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    align-items: flex-start;
}
.dis-leaflet-color-editor-opacity-bar > label {
    margin-right: 12px;
}
.dis-leaflet-color-editor-custom-button {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 4px 6px 4px 12px;
}
.dis-leaflet-color-editor-custom-button:hover {
    cursor: pointer;
}
.dis-leaflet-color-editor-picker {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    background-color: #fff;
}
.dis-leaflet-color-editor-picker.isDisplyColorSelector {
    display: none;
}
.dis-leaflet-color-editor-current-color {
    width: 160px;
    height: 20px;
    margin-bottom: 12px;
}
.dis-leaflet-color-editor-button {
    width: 20px;
    height: 20px;
    margin: 4px 6px;
    border-radius: 4px;
}
.dis-leaflet-color-editor-button:hover {
    cursor: pointer;
}
.dis-leaflet-color-editor-card {
    background-color: rgba(72, 72, 72, 0.6);
    padding: 12px 6px 35px;
    border: none;
    width: max-content;
    color: #fff;
}
.dis-leaflet-layer-ctrl {
    position: absolute;
    z-index: 800;
}
.dis-leaflet-layer-ctrl.tl {
    top: 60px;
    left: 20px;
}
.dis-leaflet-layer-ctrl.tr {
    top: 60px;
    right: 20px;
}
.dis-leaflet-layer-ctrl.bl {
    bottom: 60px;
    left: 20px;
}
.dis-leaflet-layer-ctrl.br {
    bottom: 60px;
    right: 20px;
}
.dis-leaflet-layer-ctrl.hidden {
    display: none;
}
.dis-leaflet-layer-ctrl .ant-menu-dark,
.dis-leaflet-layer-ctrl .ant-menu-dark .ant-menu-sub {
    background: rgba(0, 0, 0, 0.4);
}
.dis-leaflet-layer-ctrl .ant-menu-submenu-title {
    height: 30px !important;
    line-height: 30px !important;
    padding-left: 15px !important;
    margin: 0 !important;
}
.dis-leaflet-layer-ctrl .dis-menu {
    max-width: 250px !important;
}
.dis-leaflet-layer-ctrl .dis-sub-menu ul:first-of-type {
    overflow-y: auto;
    max-height: 300px;
}
.dis-leaflet-layer-ctrl .dis-menu-item {
    height: fit-content !important;
    min-height: 30px !important;
    padding-left: 15px !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dis-leaflet-layer-ctrl ::-webkit-scrollbar {
    width: 5px;
    background: grey;
}
.dis-leaflet-layer-ctrl ::-webkit-scrollbar-thumb {
    background: #fff;
}
.dis-leaflet-layer-ctrl .ant-menu-dark .dis-select-option-edit .anticon {
    color: initial;
    margin-right: 0;
}
.dis-leaflet-layer-ctrl .ant-menu-dark .dis-select-option-edit .anticon + * {
    color: initial;
}
.dis-leaflet-layer-ctrl .dis-select-option-edit {
    margin-right: 12px;
    padding: 0 6px;
}
.dis-leaflet-layer-ctrl .dis-select-option-edit.isEditing,
.dis-leaflet-layer-ctrl .dis-select-option-edit.isStyleEditing {
    background-color: rgba(250, 128, 114, 0.9);
}
.dis-leaflet-layer-ctrl .dis-select-option {
    position: relative;
    padding-right: 15px !important;
    line-height: normal;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dis-leaflet-layer-ctrl .dis-select-option-icon {
    position: absolute;
    right: -15px;
    top: 10;
    display: none;
}
.dis-leaflet-layer-ctrl .dis-select-option-icon.selected {
    display: block;
}
.layer-control-style-editor {
    position: absolute;
    z-index: 800;
}
.layer-control-style-editor > .dis-leaflet-color-editor-card {
    margin-top: 12px;
    width: 100%;
}
.dis-leaflet-container,
.dis-leaflet-inner-container {
    width: 100%;
    height: 100%;
}
.dis-leaflet-pseudo-fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
}
.dis-text-marker {
    min-width: 300px;
    white-space: pre-wrap;
}
.draw-control-style-editor {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 800;
    max-height: calc(100% - 120px);
    overflow-y: auto;
}
.draw-control-style-editor > .dis-leaflet-color-editor-card {
    margin-top: 12px;
    width: 100%;
}
.dis-bounds-box {
    position: absolute;
    border: 2px dashed #333;
    z-index: 900;
    background-color: transparent;
    pointer-events: none;
}
.dis-bounds-box-inner {
    position: relative;
}
.dis-bounds-box-inner-toolbar {
    display: flex;
    pointer-events: auto;
}
.dis-bounds-box-inner-toolbar:hover {
    cursor: pointer;
}
.dis-bounds-box-inner-toolbar .dis-tool-btn {
    margin: 0 1px;
}
.dis-bounds-box-inner-toolbar .dis-tool-btn.selected {
    background: #87ceeb;
}
.dis-svg-marker.leaflet-div-icon {
    background-color: transparent;
    border: none;
}
.marker-cluster-small > div {
    margin-left: 5px !important;
    margin-top: 5px !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 15px !important;
}
.marker-cluster-small > div > div {
    position: relative;
    top: 5px;
    left: 5px;
    width: 20px !important;
    height: 20px !important;
    border-radius: 10px !important;
    text-align: center;
}
.marker-cluster-small span {
    line-height: 20px !important;
}
.marker-cluster-medium > div {
    margin: 0 !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 20px !important;
}
.marker-cluster-medium > div > div {
    position: relative;
    top: 5px;
    left: 5px;
    width: 30px !important;
    height: 30px !important;
    border-radius: 15px !important;
    text-align: center;
}
.marker-cluster-medium span {
    line-height: 30px !important;
}
.marker-cluster-large > div {
    margin: 0 !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 25px !important;
}
.marker-cluster-large > div > div {
    position: relative;
    top: 5px;
    left: 5px;
    width: 40px !important;
    height: 40px !important;
    border-radius: 20px !important;
    text-align: center;
}
.marker-cluster-large span {
    line-height: 40px !important;
}
